/****** GLOBAL STYLES ******/

* {
  font-family: "Merriweather", serif;
  box-sizing: border-box;
}

form,
fieldset,
header {
  display: flex;
  flex-direction: column;
}

header {
  align-items: center;
}

fieldset {
  border: 0;
}

#submit {
  padding: 20px 50px;
  background-color: blue;
  color: white;
  font-size: large;
}

#submit:hover {
  cursor: pointer;
}

.button {
  align-items: center;
}
