/****** GLOBAL STYLES ******/

* {
  font-family: "Merriweather", serif;
  box-sizing: border-box;
}

body {
  color: #A8A8A8;
  margin: 0;
  line-height: 1.4;
}

/****** ELEMENT STYLES ******/

fieldset {
  border: 0;
}

header {
  background-color: #3E475A;
  color: white;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.line,
.twoline {
  margin: auto;
  max-width: 90%;
}

.contact legend,
.form-row,
.zip-row {
  padding: 10px;
  margin: 5px;
}

legend,
.title {
  color: #444B5A;
  font-weight: bold;
  font-size: 1.4em;
}

.form-row,
.zip-row
.contact,
header,
.intro {
  display: flex;
}

.intro {
  flex-direction: column;
  margin: auto;
  text-align: center;
  max-width: 60%;
  background-color: #D9EAF5;
}

.intro p {
  flex-wrap: wrap;
  text-align: center;
}

.form-row,
.zip-row {
  flex-direction: column;
}

.form-row label,
.zip-row label {
  margin-bottom: 8px;
}

#submit {
  padding: 20px 40px;
  background-color: #3EB4A8;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 96%;
  margin: 25px 0;
}

#submit:hover {
  cursor: pointer;
  background-color: #91EBC9;
}

.select {
  padding: 10px;
  margin: 5px;
}

.newsletter {
  margin-top: 30px;
}

.topic,
.button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  font-style: italic;
  text-align: center;
  margin-bottom: 5px;
}

/****** INPUT STYLES ******/

textarea {
  width: 100%;
  resize: none;
  padding: 15px;
}

#message {
  margin-top: 25px;
}

input,
textarea {
  background-color: #F0F0F0;
  border: white;
}

.form-row input {
  height: 50px;
}

.zip-row input {
  display: flex;
  height: 50px;
  width: 50%;
}

input::placeholder {
  text-align: right;
  font-style: italic;
  font-size: 1.2em;
  padding-right: 10px;
  color: #BEBEBE;
}

#message::placeholder {
  font-style: italic;
  font-size: 1.2em;
  color: #BEBEBE;
}

#name,
#email,
#phone,
#address,
#city,
#state,
#zip,
textarea {
  transition: background-color .5s linear;
}

#name:focus,
#email:focus,
#phone:focus,
#address:focus,
#city:focus,
#state:focus,
#zip:focus {
  outline: 1px solid #3E475A;
  padding: 0px 0px 0px 10px;
  background-color: #D9EAF5;
}

textarea:focus {
  outline: 1px solid #3E475A;
  padding: 10px 0px 10px 10px;
  background-color: #D9EAF5;
}

#state {
  height: 50px;
  background-color: #F0F0F0;
  width: 100%;
  border: 0;
  color: #BEBEBE;
  font-size: .9em;
}

input[type='checkbox'] {
  margin: 10px;
}

#html,
#plain {
  margin: 10px;
}

/****** MEDIA QUERIES ******/

@media (min-width: 768px) {

  .container {
    max-width: 60%;
  }

  .contact {
    padding: 0;
    margin: 0;
  }

  .form-row,
  .zip-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .form-row input,
  #state {
    display: inline-block;
    width: 60%;
    flex: 1;
  }

  .form-row label {
    min-width: 10em;
  }

  .zip-row label {
    min-width: 10em;
  }

  #zip {
    width: 33%;
  }

  .line {
    margin-top: 60px;
  }

  .twoline {
    margin-bottom: 60px;
  }

  .line,
  .twoline {
    max-width: 100%;
  }

  .newsletter {
    margin-top: 60px;
  }

  .topic {
    margin-top: 30px;
  }
}
